
shares:<h1> <%= @calculation.shares %> </h1>
profit:<h1> <%= @calculation.profit%> </h1>
total return:<h1> <%= @calculation.total_return %> </h1>
annual return:<h1> <%= @calculation.annual_return%> </h1>
