<div class="container">

<div class="row justify-content-md-center">
  <div class="jumbotron">


<h3 class="">Motivation comes from envisioning who you want to be, <b>or by confronting who you could have been</b></h2>

<h3 class="">This site may be percieved as depressing, but the reality is just the opposite</h2>

<h3 class="">You have now seen how much money you could make if you invest smartly over the long-term</h2>

<h3 class="">True, it is sad to confront who you could have been</h2>

<h1 class="">But now is your chance to create who you will be</h1>
</div>
</div>
</div>
